
extends layout
block content
   form(action="/admin/edit/" + modelConfig.name + "/" + (item.isNew ? 'new' : item.id), method="POST", data-collection=modelConfig.name).form-horizontal.admin_form
      | !{controlsHTML.join('')}

      div.form-group
         div(class="col-sm-offset-2 col-sm-10")
            button(type="submit", class="btn btn-primary") Save
            | &nbsp;
            button(type="button", class="btn btn-default", onclick="javascript:history.go(-1);") Cancel

