doctype html
html
  head
    title= title || 'Admin-panel'
    link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap-theme.css')
    //link(rel='stylesheet', href='/public/css/main.css')
    link(rel='stylesheet', href='/public/css/admin.css')
  body
    if session.auth
      include ../admin/panel
    block content

    script(src="/public/bower_components/jquery/dist/jquery.min.js")
    script(src="/public/bower_components/jquery.ui/ui/core.js")
    script(src="/public/bower_components/jquery.ui/ui/widget.js")
    script(src="/public/bower_components/jquery.ui/ui/mouse.js")
    script(src="/public/bower_components/jquery.ui/ui/draggable.js")
    script(src="/public/bower_components/jquery.ui/ui/sortable.js")
    script(src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/public/bower_components/tinymce/jquery.tinymce.min.js")
    script(src="/public/bower_components/lodash/lodash.js")
    script(src="/public/js/plugins.js")
    script(src="/public/js/admin.js")
