
nav.navbar.navbar-inverse(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Admin-panel
    ul.nav.navbar-nav
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Редактировать
          span.caret
        ul.dropdown-menu(role='menu')
          for collection in adminConfig.collections
            li
              a(href="/admin/list/" + collection.name)= collection.label
          if adminConfig.menuItems
            li(role="separator").divider
            for item in adminConfig.menuItems
              li
                a(href=item.href)= item.title

    ul.nav.navbar-nav.navbar-right
      li
        a(href='/admin/logout') Выход
