
@require functions

.login_form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  &-heading {
    margin-bottom: 10px;
  }
  .form-control {
    box()
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


.dragging {
  .form-group {
    opacity .2
    position: relative;
  }
  .drop_zone {
    background: #eeefee;
    border: 2px dashed gray;
    box-shadow: 0 0 5px gray;
    border-radius: 4px;
    opacity: 1
    &.hover {
      background: #ded;
      border: 2px solid #333;
    }
  }
}

.upload_btn {
  position: relative;
  overflow: hidden;
  input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;

    height:100%;
    margin: 0;

    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}

.items_list {
  td {
    img {
      max-width: 300px
      max-height: 300px
    }
  }
}

.popover_image {
  text-align: center
  img {
    max-width: 200px
  }
}

.previews_list {
  user-select none
  .item {
    position: relative
    display: inline-block
    vertical-align: top
    width: 180px
    //height: 180px
    .del_image {
      position: absolute
      top: 0
      right: 0
      background-color: red
      border-radius 50%
      width: 20px
      height: 20px
      color: #fff
      text-align: center
      cursor: pointer
    }
  }
  img {
    width: 180px
    max-width: 100%
    max-height: 100%
  }
  .readerPreviewWrp {
    display: inline-block
    position: relative
    &:after {
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0,0,0,.5) url(/public/images/preloader_gray.gif) no-repeat center center
    }
    &.uploaded {
      &:after {
        display: none
      }
    }
  }
}

