
background-size()
  -webkit-background-size arguments
  background-size arguments
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments
perspective()
  -webkit-perspective arguments
  -moz-perspective arguments
  perspective arguments
transform-origin()
  -webkit-transform-origin arguments
  -moz-transform-origin arguments
  -ms-transform-origin arguments
  transform-origin arguments
transform-style()
  -webkit-transform-style arguments
  -moz-transform-style arguments
  -ms-transform-style arguments
  transform-style arguments
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
box()
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
clear_row()
  &:after,
  &:before
    clear: both;
    content: "";
    display: table;
    line-height: 0;
column-count()
  -webkit-column-count arguments
  -moz-column-count arguments
  column-count arguments
column-gap()
  -webkit-column-gap arguments
  -moz-column-gap arguments
  column-gap arguments
m0p0()
  margin 0
  padding 0
ulinline()
  m0p0()
  &>li
    display inline-block
user-select()
  -webkit-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  -o-user-select arguments
  user-select arguments
animation()
  -webkit-animation arguments
  -moz-animation arguments
  -ms-animation arguments
  -o-animation arguments
  animation arguments

placeholder()
  &::-webkit-input-placeholder {
    {block}
  }
  &:-moz-placeholder {
    {block}
    opacity: 1;
  }
  &::-moz-placeholder {
    {block}
    opacity: 1;
  }
  &:-ms-input-placeholder {
    {block}
  }
